<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">草刈で時間も体力も消耗していませんか？0xはあなたを退屈な重労働から開放します。AI草刈り機HAKUは土地を自動でセンシングし、土地をきれいにしてくれます。また、難しい土地の草刈をゲーム化し遠隔操縦草刈りに挑戦することでワクワクをお届けします。</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
